#vazifa

In [ ]:
pip install sklearn

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Abdulmuxtor\Downloads\water_potability_updated.csv')

In [3]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,Ichishga_yaroqlilik
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0,ichishga yaroqsiz
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0,ichishga yaroqsiz
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0,ichishga yaroqsiz
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0,ichishga yaroqsiz
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0,ichishga yaroqsiz

In [4]:
df.isnull().sum()

ph                     491
Hardness                 0
Solids                   0
Chloramines              0
Sulfate                781
Conductivity             0
Organic_carbon           0
Trihalomethanes        162
Turbidity                0
Potability               0
Ichishga_yaroqlilik    163
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ph                   2785 non-null   float64
 1   Hardness             3276 non-null   float64
 2   Solids               3276 non-null   float64
 3   Chloramines          3276 non-null   float64
 4   Sulfate              2495 non-null   float64
 5   Conductivity         3276 non-null   float64
 6   Organic_carbon       3276 non-null   float64
 7   Trihalomethanes      3114 non-null   float64
 8   Turbidity            3276 non-null   float64
 9   Potability           3276 non-null   int64
 10  Ichishga_yaroqlilik  3113 non-null   object
dtypes: float64(9), int64(1), object(1)
memory usage: 281.7+ KB

In [6]:
df['ph'].fillna(df['ph'].mean(),inplace=True)

C:\Users\Abdulmuxtor\AppData\Local\Temp\ipykernel_1912\276378605.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ph'].fillna(df['ph'].mean(),inplace=True)

In [7]:
df.isnull().sum()

ph                       0
Hardness                 0
Solids                   0
Chloramines              0
Sulfate                781
Conductivity             0
Organic_carbon           0
Trihalomethanes        162
Turbidity                0
Potability               0
Ichishga_yaroqlilik    163
dtype: int64

In [8]:
for col in df.columns:
    if df[col].dtype=='object':
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(),inplace=True)

C:\Users\Abdulmuxtor\AppData\Local\Temp\ipykernel_1912\2153123511.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)
C:\Users\Abdulmuxtor\AppData\Local\Temp\ipykernel_1912\2153123511.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ph                   3276 non-null   float64
 1   Hardness             3276 non-null   float64
 2   Solids               3276 non-null   float64
 3   Chloramines          3276 non-null   float64
 4   Sulfate              3276 non-null   float64
 5   Conductivity         3276 non-null   float64
 6   Organic_carbon       3276 non-null   float64
 7   Trihalomethanes      3276 non-null   float64
 8   Turbidity            3276 non-null   float64
 9   Potability           3276 non-null   int64
 10  Ichishga_yaroqlilik  3276 non-null   object
dtypes: float64(9), int64(1), object(1)
memory usage: 281.7+ KB

In [43]:
df.isnull().sum()

ph                     0
Hardness               0
Solids                 0
Chloramines            0
Sulfate                0
Conductivity           0
Organic_carbon         0
Trihalomethanes        0
Turbidity              0
Potability             0
Ichishga_yaroqlilik    0
dtype: int64

In [12]:
df['Ichishga_yaroqlilik'].value_counts()

Ichishga_yaroqlilik
ichishga yaroqsiz    2053
ichishga yaroqli     1223
Name: count, dtype: int64

In [13]:
df_encoded=df.copy()

In [28]:
from sklearn.preprocessing import LabelEncoder # sklearn kutubxonasidan preprocessing bo'limidan label encoder tortib olinadi
for col in df_encoded.select_dtypes(include=['object']).columns: #for operatori orqali copy qilib olinga datasetni ma'lumot turi object bo'lganini tanlab olindi
    cardinality=df_encoded[col].nunique() # nunique operatirini ustunda takrorlanmagan klasslar uchun ishlatilinadi
    if cardinality<=5: # agar takrorlanmagan kardinalitylar 5tadan kam bo'lsa 
        le=LabelEncoder() # labelencoderni qo'llanadi
        df_encoded[col]=le.fit_transform(df_encoded[col]) #df_encodedning har bir ustunidagi kategoriyalrni lebel encoding qiilnadi
    else: #aks holda
        df_encoded=pd.get_dummies(df_encoded,columns=[col],dtype=int,drop_first=True) #df_encoded one-hotning get dummies usulida har bir kotegoriyani ustunga ajratiladi, dtypeni yozilmasa textlidan booleanga olib kelib qo'yadi, bizga natija int yoki float qiymatda bo'lishi kerak 
df=df_encoded

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ph                   3276 non-null   float64
 1   Hardness             3276 non-null   float64
 2   Solids               3276 non-null   float64
 3   Chloramines          3276 non-null   float64
 4   Sulfate              3276 non-null   float64
 5   Conductivity         3276 non-null   float64
 6   Organic_carbon       3276 non-null   float64
 7   Trihalomethanes      3276 non-null   float64
 8   Turbidity            3276 non-null   float64
 9   Potability           3276 non-null   int64
 10  Ichishga_yaroqlilik  3276 non-null   int64
dtypes: float64(9), int64(2)
memory usage: 281.7 KB

In [19]:
df['Ichishga_yaroqlilik'].nunique()

3

#YANGI O'RGANILGAN NARSA
KATEGORIYA VA KLASSNING FARQI
#kategoriya input kiruvchi qiymatlar, 
#klass model bashrat qiladigan output(target) qiymat