#DATA PREPROCESSING(FINAL)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler,RobustScaler

In [2]:
df=pd.read_csv(r'C:\Users\Abdulmuxtor\Downloads\placementdata_with_faculty.csv')

In [3]:
df.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus,faculty
0,1,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced,Business Administration
1,2,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed,Computer Science
2,3,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced,Computer Science
3,4,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed,Civil Engineering
4,5,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed,Electrical Engineering

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  10000 non-null  int64
 1   CGPA                       10000 non-null  float64
 2   Internships                10000 non-null  int64
 3   Projects                   10000 non-null  int64
 4   Workshops/Certifications   10000 non-null  int64
 5   AptitudeTestScore          10000 non-null  int64
 6   SoftSkillsRating           10000 non-null  float64
 7   ExtracurricularActivities  10000 non-null  object
 8   PlacementTraining          10000 non-null  object
 9   SSC_Marks                  10000 non-null  int64
 10  HSC_Marks                  10000 non-null  int64
 11  PlacementStatus            10000 non-null  object
 12  faculty                    10000 non-null  object
dtypes: float64(2), int64(7), object(4)
memory usage: 1015.8+ KB

In [8]:
df.isnull().sum()

StudentID                    0
CGPA                         0
Internships                  0
Projects                     0
Workshops/Certifications     0
AptitudeTestScore            0
SoftSkillsRating             0
ExtracurricularActivities    0
PlacementTraining            0
SSC_Marks                    0
HSC_Marks                    0
PlacementStatus              0
faculty                      0
dtype: int64

In [4]:
df_encoded=df.copy()

In [5]:
for col in df_encoded.select_dtypes(include=['object']).columns:
    cardinality= df_encoded[col].nunique()
    if cardinality<=5:
        le=LabelEncoder()
        df_encoded[col]=le.fit_transform(df_encoded[col])
    else:
        df_encoded=pd.get_dummies(df_encoded,columns=[col],dtype=int,drop_first=True)
df=df_encoded

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   StudentID                        10000 non-null  int64
 1   CGPA                             10000 non-null  float64
 2   Internships                      10000 non-null  int64
 3   Projects                         10000 non-null  int64
 4   Workshops/Certifications         10000 non-null  int64
 5   AptitudeTestScore                10000 non-null  int64
 6   SoftSkillsRating                 10000 non-null  float64
 7   ExtracurricularActivities        10000 non-null  int64
 8   PlacementTraining                10000 non-null  int64
 9   SSC_Marks                        10000 non-null  int64
 10  HSC_Marks                        10000 non-null  int64
 11  PlacementStatus                  10000 non-null  int64
 12  faculty_Business Administration  10000 non-null  int64
 13  faculty_Civil Engineering        10000 non-null  int64
 14  faculty_Computer Science         10000 non-null  int64
 15  faculty_Electrical Engineering   10000 non-null  int64
 16  faculty_Mechanical Engineering   10000 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 1.3 MB

In [16]:
df['SSC_Marks'].nunique()

36

#Min-max scaler

In [17]:
scaler=MinMaxScaler()
df=scaler.fit_transform(df)

In [20]:
df=pd.DataFrame(df)

In [21]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0000,0.384615,0.5,0.333333,0.333333,0.166667,0.777778,0.0,0.0,0.171429,0.709677,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0001,0.923077,0.0,1.000000,0.666667,1.000000,0.555556,1.0,1.0,0.657143,0.806452,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0002,0.307692,0.5,0.666667,0.666667,0.733333,1.000000,1.0,0.0,0.685714,0.741935,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0003,0.384615,0.5,0.333333,0.666667,0.833333,0.777778,1.0,1.0,0.742857,0.741935,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0004,0.692308,0.5,0.666667,0.666667,0.866667,0.833333,1.0,1.0,0.542857,1.000000,1.0,0.0,0.0,0.0,1.0,0.0

#Standart scaler

In [7]:
df=pd.DataFrame(df)

In [8]:
original_columns=df.columns

In [9]:
original_columns

Index(['StudentID', 'CGPA', 'Internships', 'Projects',
       'Workshops/Certifications', 'AptitudeTestScore', 'SoftSkillsRating',
       'ExtracurricularActivities', 'PlacementTraining', 'SSC_Marks',
       'HSC_Marks', 'PlacementStatus', 'faculty_Business Administration',
       'faculty_Civil Engineering', 'faculty_Computer Science',
       'faculty_Electrical Engineering', 'faculty_Mechanical Engineering'],
      dtype='object')

In [10]:
len(original_columns)

17

In [30]:
scaler=StandardScaler()
df=scaler.fit_transform(df)

In [32]:
df=pd.DataFrame(df,columns=original_columns)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10000 non-null  float64
 1   1       10000 non-null  float64
 2   2       10000 non-null  float64
 3   3       10000 non-null  float64
 4   4       10000 non-null  float64
 5   5       10000 non-null  float64
 6   6       10000 non-null  float64
 7   7       10000 non-null  float64
 8   8       10000 non-null  float64
 9   9       10000 non-null  float64
 10  10      10000 non-null  float64
 11  11      10000 non-null  float64
 12  12      10000 non-null  float64
 13  13      10000 non-null  float64
 14  14      10000 non-null  float64
 15  15      10000 non-null  float64
 16  16      10000 non-null  float64
dtypes: float64(17)
memory usage: 1.3 MB

#ROBUST SCALER

In [ ]:
original_columns=df.columns

In [12]:
scaler=RobustScaler()
df=scaler.fit_transform(df)

In [13]:
df=pd.DataFrame(df,columns=original_columns)

In [15]:
df.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus,faculty_Business Administration,faculty_Civil Engineering,faculty_Computer Science,faculty_Electrical Engineering,faculty_Mechanical Engineering
0,-1.0000,-0.25,0.0,-0.5,0.0,-1.071429,0.000000,-1.0,-1.0,-0.473684,0.3750,0.0,1.0,0.0,0.0,0.0,0.0
1,-0.9998,1.50,-1.0,0.5,0.5,0.714286,-0.571429,0.0,0.0,0.421053,0.5625,1.0,0.0,0.0,1.0,0.0,0.0
2,-0.9996,-0.50,0.0,0.0,0.5,0.142857,0.571429,0.0,-1.0,0.473684,0.4375,0.0,0.0,0.0,1.0,0.0,0.0
3,-0.9994,-0.25,0.0,-0.5,0.5,0.357143,0.000000,0.0,0.0,0.578947,0.4375,1.0,0.0,1.0,0.0,0.0,0.0
4,-0.9992,0.75,0.0,0.0,0.5,0.428571,0.142857,0.0,0.0,0.210526,0.9375,1.0,0.0,0.0,0.0,1.0,0.0